<div class="profile-card">
  <div class="avatar-name">
    <img
      src="/assets/imgs/avatar.png"
      alt="avatar"
      class="profile-card__avatar"
    />
    <div class="profile-card__name">
      <strong class="h6">Ryan Gosling</strong>
      <span class="subtitle">ryan.gosling</span>
    </div>
  </div>
  <div class="profile-card__desription">
    The list of skills we discussed above is the basis of a resume, but not the
    only part of it. You can also tell about yourself in the classic sense -
    this section can be added to a cover letter.
  </div>
    <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
   <div class="skill-tag">HTML</div>
   <div class="skill-tag">CSS</div>
    <div class="skill-tag">REST</div>
  </div>
  <div class="profile-card__action-btns">
    <button class="btn">Subscribe</button>
  </div>
</div>

